@font-face {
	font-family: 'Time Papa';
	src: url('../media/FONTS/Time Papa.ttf');
}

body {
	font-family: 'Time Papa', Courier New, monospace;
	font-size: 30px;
	font-weight: bold;
	cursor: url('../media/cursor.png'), auto;
}

img {
	display: block;
}

area {
  	cursor: url('../media/clickme.png'), pointer;
}

a {
	text-decoration: none;
	font-weight: bolder;
	cursor: url('../media/clickme.png'), pointer;
    color: #0006ff;
}