@font-face {
	font-family: 'Time Papa';
	src: url('media/FONTS/Time Papa_0.ttf');
}
body {
	background-color: white;
	font-family: 'Time Papa', Courier New, monospace;
	color: black;
	font-size: 30px;
	cursor: url('../media/cursor.png'), auto;
}

img {
	display: block;
}
a {
	color: black;
	text-decoration: none;
	font-weight: bolder;
	cursor: url('../media/clickme.png'), pointer;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
