html, body {
	height: 100vh;
	max-height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	cursor: url('../media/cursor.png'), auto;
}

ul {
	list-style : none;
	white-space : nowrap;
	margin: 0;
	padding: 0;
}

li {
	display : inline;
}

img {
	display : inline;
	height: 100%;
	width: auto;
}

a {
	cursor: url('../media/clickme.png'), pointer;
}

area {
  	cursor: url('../media/clickme.png'), pointer;
}

.nav {
	margin-right: 50px;
}

.nav > a > img {
    height: auto;
    width: 150px;
    margin-bottom: 50px;
}

@media (orientation:portrait)	{
	img {
		max-width: 100%;
		max-height: 100vh;
		height: auto;
	}
}