@font-face {
	font-family: 'Time Papa Font';
	src: url('../media/FONTS/Time Papa.ttf');
}

body {
	font-family: 'Time Papa Font', Courier New, monospace;
	color: black;
	background-color: #fdfdfd;
	font-size: 20px;
	font-weight: bold;

	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	cursor: url('../media/cursor.png'), auto;
}

a {
	cursor: url('../media/clickme.png'), pointer;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 250px);
	grid-template-areas: 
		"title title title"
		"me me me"
		"blurb blurb blurb"
		"intro intro intro"
		"net sausage arrow"
		"hypercube minkowski movingpresent"
		"autobio branes corkscrew";
	justify-content: center;
	align-items: center; 
	justify-items: center;
}

.box {
    position: relative;
    text-align: center;
    padding: 10px;
}

.me			{ grid-area: me; }
.title		{ grid-area: title; }
.blurb		{ grid-area: blurb;}
.intro		{ grid-area: intro; }
.net		{ grid-area: net; }
.hypercube		{ grid-area: hypercube; }
.sausage 	{ grid-area: sausage; }
.arrow 		{ grid-area: arrow; }
.minkowski	{ grid-area: minkowski; }
.movingpresent { grid-area: movingpresent; }
.autobio 		{ grid-area: autobio; }
.branes 	{ grid-area: branes; }
.corkscrew	{ grid-area: corkscrew; }

.link-circular {
    text-decoration: none;
    color: white;    
    display: table-cell;
    vertical-align: middle;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transition: 0.5s ease;
}
.link-circular:hover {
    opacity: 1;
}

.red-lg {
    background-color: rgb(252, 0, 0, 0.7);
    /* red #fc0000 */
}

.blue-lg {
    background-color: rgb(0, 0, 255, 0.7);
    /* blue #0006ff; */
}




/* mobile */
@media (max-width: 1100px) {
	.wrapper {
		grid-template-columns: 250px 250px;
		grid-template-areas:
			"title title"
			"me me"
			"blurb blurb"
			"intro intro"
			"net sausage"
			"arrow hypercube"
			"minkowski movingpresent"
			"autobio branes"
			"corkscrew .";
	}
	.subtitle {
		display: none;
	}

	.link-circular {
		opacity: 1;
	}

	.red-md {
	    background-color: rgb(252, 0, 0, 0.5);
	    /* red #fc0000 */
	}

	.blue-md {
	    background-color: rgb(0, 0, 255, 0.5);
	    /* blue #0006ff; */
	}

	.none-md {
		opacity: 0;
	}

	.none-md:hover {
		opacity: 0;
	}

}