@font-face {
	font-family: 'Time Papa Font';
	src: url('../media/FONTS/Time Papa.ttf');
}

body {
	font-family: 'Time Papa Font', Courier New, monospace;
	color: black;
	background-color: #fdfdfd;
	font-size: 20px;
	font-weight: bold;

	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	cursor: url('../media/cursor.png'), auto;
}

a {
	cursor: url('../media/clickme.png'), pointer;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
		". net . title . fourdeye . "
		"arrow arrow branes me . sausage minkowski"
		". movingpresent . intro . block ." ;
	justify-content: center;
	/* align-items: center; */
	justify-items: center;
}

.box {
    position: relative;
    text-align: center;
}

.me			{ grid-area: me; }
.title		{ grid-area: title; }
.blurb		{ grid-area: blurb;}
.branes 	{ grid-area: branes; 
				justify-self: end; }
.sausage 	{ grid-area: sausage; }
.block 		{ grid-area: block; 
				justify-self: start; }
.minkowski	{ grid-area: minkowski; }
.movingpresent { grid-area: movingpresent; 
				justify-self: start; }
.arrow 		{ grid-area: arrow; }
.fourdeye	{ grid-area: fourdeye; }
.net		{ grid-area: net; }
.intro		{ grid-area: intro; }

.overlay-positioner {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.link-circular {
    text-decoration: none;
    color: white;    
    display: table-cell;
    vertical-align: middle;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.3;
    transition: 0.5s ease;
}
.link-circular:hover {
    opacity: 1;
}

.red {
    background-color: rgb(252, 0, 0, 0.7);
    /* red #fc0000 */
}

.blue {
    background-color: rgb(0, 0, 255, 0.7);
    /* blue #0006ff; */
}



/* tablet, small computers */
@media (max-width: 1450px) {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 650px 1fr;
		grid-template-areas: 
			"jesus title fourdeye"
			"movingpresent me blockuni"
			"minkowski . sausage"
			"branes blurb arrow";
		justify-content: center;
		align-items: center;
		justify-items: center;
	}
	body {
		background-color: lightgray;
	}
}

/* mobile */
@media (max-width: 1100px) {
	.wrapper {
		grid-template-columns: 250px 250px;
		grid-template-rows: auto auto 200px repeat(4, auto);
		grid-template-areas:
			"title title"
			"me me"
			"blurb blurb"
			"jesus movingpresent"
			"branes block"
			"minkowski sausage"
			"arrow fourdeye";
	}
	.subtitle {
		display: none;
	}
	body {
		background-color: gray;
	}
}
