@font-face {
	font-family: 'Typeface';
	src: url('../media/FONTS/Time Papa.ttf');
}

body {
	background-image: url("../media/BG/bg.gif");
	background-repeat: repeat;
	font-family: 'Time Papa', Courier New, monospace;
	font-size: 50px;
	cursor: url('../media/cursor.png'), auto;
}

area {
  	cursor: url('../media/clickme.png'), pointer;
}

a {
	text-decoration: none;
	font-weight: bolder;
	cursor: url('../media/clickme.png'), pointer;
    color: #0006ff;
}