@font-face {
	font-family: 'Typeface';
	src: url('media/FONTS/Typeface.ttf');
}
body {
	background-image: url("../media/BG/bg.gif");
	background-repeat: repeat;
	font-family: 'Time Papa', Courier New, monospace;
	color: black;
	font-size: 50px;
	cursor: url('../media/cursor.png'), auto;
}

area {
  	cursor: url('../media/clickme.png'), pointer;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bolder;
	cursor: url('../media/clickme.png'), pointer;
}