@font-face {
	font-family: 'Time Papa';
	src: url('media/FONTS/Time Papa_0.ttf');
}

body {
	font-family: 'Time Papa', Courier New, monospace;
	font-size: 30px;
    font-weight: bold;
	cursor: url('../media/cursor.png'), auto;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
}

img {
	display: block;
}

a {
	text-decoration: none;
	font-weight: bolder;
	cursor: url('../media/clickme.png'), pointer;
    color: #0006ff;
}

p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 100px;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


.tab {
    margin-left: 150px; 
}

div {
    word-wrap: break-word;
}