body {
	background-color: #fdfdfd;

	cursor: url('../media/cursor.png'), auto;
}

a {
	cursor: url('../media/clickme.png'), pointer;
	text-decoration: none;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(703px, 11);
	grid-template-areas: 
		"za1 za2 za3 za4 za5 za6 za7 za8 za9 za10 nav-box";
	align-items: end;
}

.za1			{ grid-area: za1; }
.za2			{ grid-area: za2; }
.za3			{ grid-area: za3; }
.za4			{ grid-area: za4; }
.za5			{ grid-area: za5; }
.za6			{ grid-area: za6; }
.za7			{ grid-area: za7; }
.za8			{ grid-area: za8; }
.za9			{ grid-area: za9; }
.za10			{ grid-area: za10; }
.nav-box		{ grid-area: nav-box; }

/* mobile 
@media (max-width: 1100px) {
	.wrapper {
		grid-template-columns: 250px 250px;
		grid-template-areas:
			"title title"
			"me me"
			"intro intro"
			"net blocku"
			"hypercube sausage"
			"arrow minkowski"
			"movingpresent branes"
			"corkscrew .";
} */